
img {
    display: block;
    /* -webkit-user-select: none; */
    margin: 0 auto;
    cursor: zoom-in;
    background-color: hsl(0, 0%, 90%);
    transition: background-color 300ms;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
} 

/* @media screen and (max-height: 500px) {
    body {
      margin-top: 0;
    }
    img{
        height: 100%;
      width: 100%;
    }
  } */